GENRE: {{ genre }}
LANGUAGE: {{ language }}
AUDIENCE: {{ target_audience }}

Голос повествования:
---
{{ voice }}
---
Canon (неопровержимые факты):
---
{{ canon }}
---
Бит-лист главы {{ chapter_index }} из outline:
---
{{ chapter_beats }}
---
Резюме предыдущих событий:
---
{{ arc_summary }}
---
{% if revision_brief %}
Правки по итогам ревью (обязательны к учёту):
---
{{ revision_brief }}
---
{% endif %}

WORD_RANGE: {{ length_min }}-{{ length_max }}
