GENRE: {{ genre }}
LANGUAGE: {{ language }}
AUDIENCE: {{ target_audience }}

WORLD:
{{ world }}

CHARACTERS:
{{ characters }}

OUTLINE:
{{ outline }}

{% if feedback %}
FEEDBACK:
{{ feedback }}
{% endif %}

REQUIRED_ENTRIES:
- Names
- Dates
- Places
- Established events
- World rules
