GENRE: {{ genre }}
LANGUAGE: {{ language }}
AUDIENCE: {{ target_audience }}
CHAPTERS_TOTAL: {{ chapters_total }}

WORLD:
{{ world }}

CHARACTERS:
{{ characters }}

SEED:
{{ seed }}

{% if feedback %}
FEEDBACK:
{{ feedback }}
{% endif %}

REQUIRED_FIELDS_PER_CHAPTER:
- Number
- Beats
- Foreshadowing planted
- POV
