GENRE: {{ genre }}
LANGUAGE: {{ language }}
AUDIENCE: {{ target_audience }}

WORLD:
{{ world }}

SEED:
{{ seed }}

{% if feedback %}
FEEDBACK:
{{ feedback }}
{% endif %}

REQUIRED_SECTIONS:
- Rhythm
- Lexicon
- Sentence length
- Dialogue-to-description ratio
- Devices to use
- Devices to forbid
